{% extends "main.html" %}
{% load static from staticfiles  %}

{% block main_content %}
	
<div id="container3">
	<div id="container2">
		<div id="innerDivBorder"style="height:100%;position:absolute;right:484px;"> </div>
		<div id="container1">
			<div id="col1">
				<div class="header" style="border:none;">
				Online Catalog	
				</div>
				<ul id="menu" style="z-index:9999;">
				{% for category in categories %}
				<li><a href="Products/Category/{{category.id}}">{{category.name}}</a>
					{% if category.sub_categories %}
						<ul>
						{% for category1 in category.sub_categories %}
						<li><a href="Products/Category/{{category1.id}}">{{category1.name}}</a>
							{% if category1.sub_categories %}
								<ul>
								{% for category2 in category1.sub_categories %}
								<li><a href="Products/Category/{{category2.id}}">{{category2.name}}</a></li>
								{% endfor %}							
								</ul>
								</li>
							{% else %}
								</li>
							{% endif %}
						{% endfor %}
						</ul>
						</li>
					{% else %}
						</li>
					{% endif %}
				{% endfor %}
				</ul>
				
				<script>
				$( "#menu" ).menu();
				</script>
			</div>
			<div id="col2" style="margin-left:10px;">
				{% block content %}
			
				{% endblock content %}
			</div>
			<div id="col3">
				{% if recent %}
				<div class="header" style="border:none;">
					Recently Viewed
				</div>
				<div align="center" id="recentProducts">
					{% for product in recent%}
					<div style="margin-top:5px;">
						<a class="productLink"href="/Products/{{product.sku}}">{{product.name}}</a>
					</div>
					{% endfor %}
				</div>
				{% endif %}
				<div align="center" style="margin-top:25px;">
					<a href="#"><img src="{% static 'Products/images/scheduleservice.jpg' %}"></img></a>
					<a href="#"><img style="margin-top:15px;" src="{% static 'Products/images/catalog.jpg' %}"></img></a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock main_content %}