<span>
	<label for="id_first_name">First Name:</label>
	{{login.first_name}}
	{{login.first_name.errors}}
	
	<label for="id_last_name">Last Name:</label>
	{{login.last_name}}
	{{login.last_name.errors}}
</span>
<span>
	<label for="id_company">Company:</label>
	{{login.company}}
	{{login.company.errors}}
	
	<label for="id_email">Email Address:</label>
	{{login.email}}
	{{login.email.errors}}
</span>

<label for="id_adress">Address:</label>
{{login.address}}
{{login.address.errors}}

<label for="id_adress_line2"></label>
{{login.address_line2}}
{{login.address_line2.errors}}

<span>
	<label for="id_city">City:</label>
	{{login.city}}
	{{login.city.errors}}
	
	<label for="id_state">State/Province:</label>
	{{login.state}}
	{{login.state.errors}}
</span>

<span>
	<label for="id_zip">Zip/Postal Code:</label>
	{{login.zip}}
	{{login.zip.errors}}
	
	<label for="id_country">Country:</label>
	{{login.country}}
	{{login.country.errors}}
</span>

<span>
	<label for="id_city">Zip/Postal Code:</label>
	{{login.zip}}
	{{login.zip.errors}}
	
	<label for="id_state">Country:</label>
	{{login.country}}
	{{login.country.errors}}
</span>