{% extends "main.html" %}
{% load static from staticfiles  %}

{% block main_content %}
	
<div class="contentHolder" style="height:auto;overflow:hidden;position:relative;" >
	<div style="width:956px;float:left;height:100%;border:none;overflow:hidden;position:absolute;left:0px;">
		<div style="width:740px;float:left;height:100%;border-left:none">
		{% block content %}
	
		{% endblock content %}
		</div>
		<div style="width:214px;float:left;height:100%;">
			{% if recent %}
			<div class="header" style="border:none;">
				Recently Viewed
			</div>
			<div align="center" id="recentProducts">
				{% for product in recent%}
				<div style="margin-top:5px;">
					<a class="productLink"href="/Products/{{product.sku}}">{{product.name}}</a>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			<div align="center" style="margin-top:25px;">
				<a href="#"><img src="{% static 'Products/images/scheduleservice.jpg' %}"></img></a>
				<a href="#"><img style="margin-top:15px;" src="{% static 'Products/images/catalog.jpg' %}"></img></a>
			</div>
		</div> 
	</div>
</div>

{% endblock main_content %}
