{% extends "content_right_column_base.html" %}
{% load staticfiles %}

{% block content %}
<!-- product -->
<div class="header" style="">
Create New Password
</div>
<div style="width:680px;margin:auto;margin-left:36px;">
<!-- sign in-->
	<div class="register" style="margin:auto;margin-top:36px;margin-left:150px">
		<form class="registerForm" action="" method="post">
			{{form.password.errors}}
			<label for="id_email">New Password:</label>
			{{form.password}}
			
			{{form.confirm_password.errors}}
			<label for="id_email">Confirm New Password:</label>
			{{form.confirm_password}}
			{% csrf_token %}
			<input class="addToCart" style="width:25%" type="submit" value="Done">
		</form>
	</div>
</div>
{% endblock %}