{% extends "content_right_column_base.html" %}
{% load staticfiles %}

{% block content %}
<!-- product -->
<div class="header" style="">
My Cart
</div>
<div style="width:680px;margin-left:36px;">
	<div style="margin-top:20px;margin-bottom:20px;" align="right">
		<a class="addToCart" href="/Cart/Checkout">Checkout</a>
	</div>
	{% if not cart %}
	<div>
		no products in cart
	</div>
	{% endif %}
	<div class="cartHeader" align="center">
	<!-- cart products header -->
		<span>Remove</span>
		<span style="position:absolute;left:20%;">Product Name</span>
		<span style="position:absolute;left:47%;">Unit Price</span>
		<span style="position:absolute;left:58%;">Qty</span>
		<span style="position:absolute;left:65%;">Subtotal</span>
	</div>
	{% for product in cart %}
	<div style="margin-top:5px;">
	<!-- in cart products -->
		<div class="inCartProducts" style="dispaly:block">
			<div style="width:15%;margin-left:30px;">
				<a href="Cart/Remove/{{product.sku}}"> <img src="remove_product.jpg"> </img></a>
			</div>
			<div style="width:37%;margin-left:25px;margin-right:5px;">
			<a class="productLink"href="/Products/{{product.sku}}/">{{product.name}}</a>
			</div>	
			<div style="width:16%;margin-left:5px">
			{{product.single_price}}
			</div>	
			<div style="width:9%;margin-left:5px;">
			{{product.count}}
			</div>	
			<div style="width:10%;">
			{{product.pretty_price}}
			</div>	
			<div style="width:1%;">
			
			</div>								
		</div>
	</div>
	{% endfor %}
	<div style="margin-top:20px;margin-bottom:20px;">
		<span>
			<a class="addToCart" href="">Continue Shopping</a>
			<div class="cartCheckoutBox">
				<span style="display:block;margin-bottom:20px;">
					<div style="width:120px;float:left;padding-right:9px;">
						<p>Subtotal:</p>
						<p>Tax:</p>
						<p class="grandTotal">Grand Total:</p>
					</div>
					<div style="width:135px;float:left;margin-bottom:10px;">
						<p>${{subtotal}}</p>
						<p>${{tax_total}}</p>
						<p class="grandTotal" >${{grand_total}}</p>
					</div>
				</span>
				<a class="addToCart" href="/Cart/Checkout">Checkout</a>
			</div>
		</span>
	</div>
</div>

{% endblock %}


