{% extends "3_column_base.html" %}
{% load staticfiles %}

{% block content %}
{% for productRow in SearchResults %}
	<div class="productRow" style="display:table;height:300px;" >
	{% for product in productRow %}
		<span align="center" style="height:100%;border:none;">
			<div class="productThumbnail" style="height:100%">
				<a href="product/{{ product.sku }}"><img src="{{ product.sku }}.jpg"></a>
				<div class="title" style="margin-bottom:10px;margin-top:10px;">
					{{ product.title }}
				</div>
				<div class="price">
					${{product.price}}
				</div>
				<div style="margin-top:25px">
					<a class="addToCart" href="#" >Add To Cart</a>
				</div>
			</div>
		</span>
	{% endfor %}
	</div>
{% endfor %}
{% endblock %}
