{% extends "content_right_column_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="header" style="">
{{ product.name }}
</div>
	<span style="display:table;padding:15px;width:90%">
		<img src="static/Products/images/{{product.img}}" style="width:260px;margin-top:40px;display:table-cell"></img>
		<div class="productInfo" align="top" style="margin-left:auto;margin-right:auto;width:auto">
			
			<p class="productTitle">{{ product.name }}</p>
			<p style="display:none;">Out of Stock</p>
			<p id="productPrice">${{ product.price }}</p>
			<span>
				<form action="/Products/Add/{{attribute_sku}}/" method="get">
					Quanity: <input name="quantity"type="text" value="1" style="width:23px;padding-left:5px;">
					<input class="addToCart" style="width:25%;min-width:100px;" type="submit" value="Add To Cart">
				</form>
			</span>
			
			{% if attributes %}
			<form action="" method="get" >
				<div>
					{{ product.attribute_options}}
					<select name="attribute_sku" style="margin-top:10px;" onchange="this.form.submit()" >
						{% for attribute in attributes %}
							<option value="{{attribute.sku}}" {% if attribute_sku == attribute.sku %}  selected="selected"{% endif %}> {{ attribute.description }}</option>
						{% endfor %}
					</select>
				</div>
				{% endif %}
			</form>	
		</div>
	</span>
	<div style="margin:10px">
	{{product.short_description}}
	</div>
	<div style="margin:10px">
	{{product.description}}
	</div>
{% endblock %}
