{% extends "content_right_column_base.html" %}
{% load staticfiles %}

{% block content %}
<!-- product -->
<div class="header" style="">
Recover Lost Password
</div>
<div style="width:680px;margin:auto;margin-left:36px;">
<!-- sign in-->
	<div class="register" style="float:right;">
		<form class="registerForm" action="" method="post">
			{{form.email.errors}}
			<label for="id_email">Email Address:</label>
			{{form.email}}
			{% csrf_token %}
			<input class="addToCart" style="width:25%" type="submit" value="Reset Password">
		</form>
	</div>
</div>
{% endblock %}