{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'Products\mqStyle1.css' %}">
 <link rel="stylesheet" href="{% static 'Products\jquery-ui-1.10.3.custom\css\mq_menu\jquery-ui-1.10.3.custom.css' %}">
 <base href="http://127.0.0.1:8000/" target="_self">
</head>
<body>

<table style="width=550px;">
	<tr>
		<th><a href="/"><img src="{% static 'Products/images/logo.jpg' %}" height="119" width="464"></a></th>
		<th style="margin-left:10px"> 
		Quick Links:
		<div> <a style="margin-top:10px;"href="/"> MedicalQuip.com </a> </div>
		<div> <a href="/myAccount/"> My Account </a> </div>
		</th>
	</tr>
	<tr>
		<p>Dear {{customer.first}},</p>
		<p></p>
		<p>You are recieving this message because you requested to reset your password for your account. If you feel this is a mistake or you do not wish to reset your password, please disgreguard this message</p>

		<p></p>
		<p>To reset your password, please click the link below</p>
		<a href="/ChangePassword?reset={{customer.reset}}">Reset Your Password</a>
	</tr>

</table>

</body>